body {
    background: #e1ad6d;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.add_project {
    margin-left: 5px;
}

.list {
    display: flex;
    flex-direction: column;
    border: #345 solid;
    border-top: none;
    width: 600px;
}

.empty_item {
    border-top: #345 solid;
    padding: 10px;
}

.item {
    border-top: #345 solid;
}

.basic {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    gap: 5px;
}

.des {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab {
    width: 665px;
}

.listDiv {
    display: flex;
    gap: 10px;
}

.changePName,
.delPButt {
    height: 50px;
}

.add {
    width: 50px;
    height: 50px;
}

.newItem {
    background: rgba(10, 10, 10, 0.56);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
}

.prompts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: cyan;
    padding: 20px;
    border: black solid;
}

.q_div {
    padding-bottom: 10px;
}

.in {
    display: block;
}

.in_des_ans {
    height: 250px;
    width: 600px;
}

.butt_div {
    display: flex;
    justify-content: space-between;
}

.status_c {
    width: 20px;
    height: 20px;
}

.des_div {
    display: flex;
    padding: 5px;
    border: darkgreen solid;
    margin: 10px;
}

input,
select {
    border: black solid;
}

.hide {
    display: none;
}